<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sobre mim</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-img src="assets/img/perfil" alt="Foto do Thomás"></ion-img>
  <h2>Thomás Moojen</h2>
  <p>Sou estudante do curso de Análise e Desenvolvimento de Sistemas na UPF. Tenho interesse por desenvolvimento mobile, web e áreas relacionadas à tecnologia. Gosto de aprender novas ferramentas e estou constantemente buscando evoluir minhas habilidades técnicas.</p>
</ion-content>
