<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Início</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-img src="assets/img/perfil" alt="Foto do Thomás"></ion-img>
  <h2>Thomás Augusto Zanin Moojen</h2>
  <p><strong>Email:</strong> thomasmoojen94&#64;hotmail.com</p>
  <p><strong>Telefone:</strong> (54) 996379236</p>
  <p><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/thom%C3%A1s-augusto-zanin-moojen-a409b5119/" target="_blank">thomasmoojen</a></p>
</ion-content>
